# LaTeX temporary files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.pdf.bak

# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS specific files
.DS_Store
Thumbs.db
